JWT_SECRET = "your_jwt_secret"
ADMIN_EMAIL = "admin@example.com"
ADMIN_PASSWORD = "your_admin_password"

MONGODB_URI = "your_mongodb_connection_string"

CLOUDINARY_API_KEY = "your_cloudinary_api_key"
CLOUDINARY_SECRET_KEY = "your_cloudinary_secret_key"
CLOUDINARY_NAME = "your_cloudinary_cloud_name"

STRIPE_SECRET_KEY = "your_stripe_secret_key"

RAZORPAY_KEY_SECRET = "your_razorpay_secret"
RAZORPAY_KEY_ID = "your_razorpay_key_id"

GOOGLE_CLIENT_ID = "your_google_oauth_client_id.apps.googleusercontent.com"

SHIPROCKET_EMAIL = "your_shiprocket_api_user_email"
SHIPROCKET_PASSWORD = "your_shiprocket_api_user_password"
SHIPROCKET_PICKUP_LOCATION = "Primary"
